<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite mame="Charset Convertor Test Suite">
            <directory suffix="Test.php">ConvertFile</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../</directory>
            <exclude>
                <directory>./</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>