<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
  <testsuites>
    <testsuite mame="Charset Convertor Test Suite">
      <directory suffix="Test.php">ConvertFile</directory>
      <!--<directory suffix="Test.php">Convertor</directory>-->
      <!--<directory suffix="Test.php">Resolver</directory>-->
      <!--<directory suffix="Test.php">ScriptFrontend</directory>-->
      <!--<directory suffix="Test.php">./</directory>-->
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">../</directory>
      <exclude>
        <directory>./</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>