<?xml version="1.0" encoding="UTF-8"?>
<config>
  <convertor>mbstring</convertor>
  <convert_to_strategy>long_name</convert_to_strategy>
  <target_location>target-location</target_location>
  <base_path>base-path</base_path>
  <verbose>1</base_path>
  <extenions>
    <extension>php</extension>
    <extension>txt</extension>
  </extensions>
  <convert_info>
    <input_charset>g-utf8</input_charset>
    <output_charset>g-ansi</output_charset>
    
    <files>
      <file>
        <name>bar</name>
      </file>
    </files>
      
    <dirs>
      <dir>
        <name>foo</name>
        <input_charset>d-utf8</input_charset>
        <output_charset>d-ansi</output_charset>
      </dir>
    </dirs>
  </convert_info>
</config>